#earth{
    height: 800px;
    width: 100%;
     
}
.wrapper{
  height: 90vh; 
  margin: 10rem;
  
}

#sources{
    text-decoration:  underline;
    color:  blue;
    font-size: 20px;
    padding-top:  15px; 
    position: absolute;
    left:  250px;
}


h1{
  position: absolute; 
  text-decoration: underline;
  color: green;
  font-size:  30px;
  left: 40%;
  top: 70vh; 
}


span{
    color: blue;
}


