.container {
  height: 90vh;
  margin: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px 10px; 
}
.cell {
  color: red;
  font-size: 3rem;
  text-align: center;
  padding: 4rem;
}
.cell-1 {
  background-image: url('https://th.bing.com/th/id/OIP.TpvT_U7Xm8AXCBO6ZAOb_wHaE8?pid=ImgDet&rs=1');
  background-repeat: round ; 
}
.cell-2 {
  background-image: url('https://d279m997dpfwgl.cloudfront.net/wp/2020/07/spiritbear.jpg');
  background-repeat: round; 
}
.cell-3 {
  background: royalblue;
}
.cell-4 {
  background: gold;
}
.cell-5 {
  background: blueviolet;
}
.cell-6 {
  background: limegreen;
}
.cell-7 {
  background: coral;
}
.cell-8 {
  background: lightseagreen;
}
.cell-9 {
  background: maroon;
}


#TOC{
  color:blue;
  text-decoration: underline ;
  
 
    
    
}

.TOC-Words {
  position: absolute;
  top: 50%;
  left: 25%;
  font-size:  100px;
  text-transform: capitalize;
}

IMG{
    height: 800px;
    width: 100%;
     
}




