.container {
  height: 90vh; 
  margin: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px 10px; 
}
.cell {
  text-align: center;
  padding: 4rem;
   font-family: 'Oxygen', sans-serif;  
 
}
.cell-1 { /**The nuclear option**/
  background-image: url('https://th.bing.com/th/id/OIP.TpvT_U7Xm8AXCBO6ZAOb_wHaE8?pid=ImgDet&rs=1');
  background-repeat: round;
  
}
.cell-2 { /**The Endangered Bears and the Sixth Mass Extinction**/
  background-image: url('https://d279m997dpfwgl.cloudfront.net/wp/2020/07/spiritbear.jpg');
  background-repeat: round; 
}
.cell-3 { /**The Time to Act is Now **/
  background: royalblue;
}
.cell-4 { /** The Permian-Triassic Extinction and Modern Climate Change **/ 
  background: gold;
}
.cell-5 { /**The World Has Never Been So Different **/
  background: blueviolet;
}
.cell-6 { /**I hold No degrees **/
  background: limegreen;
}
.cell-7 {
  background: coral;
}
.cell-8 {
  background: lightseagreen;
}
.cell-9 {
  background: maroon;
}


#TOC{
  color:blue;
  text-decoration: underline ;
  
 
    
    
}

.TOC-Words {
  position: absolute;
  top: 50%;
  left: 25%;
  font-size:  100px;
  text-transform: capitalize;
  
}

IMG{
    height: 800px;
    width: 100%;
     
}





